{{#if addNewRental}}
<h1>New Rental</h1>
<div>
  <form>
    <div class="form-group">
      <label for="owner">Owner</label>
      {{input value=owner id="owner"}}
    </div>

    <div class="form-group">
      <label for="number">Phone Number</label>
      {{input value=number id="number"}}
    </div>

    <div class="form-group">
      <label for="email">Email Address</label>
      {{input value=email id="email"}}
    </div>

    <div class="form-group">
      <label for="address">Address</label>
      {{input value=address id="address"}}
    </div>

    <div class="form-group">
      <label for="city">City</label>
      {{input value=city id="city"}}
    </div>

    <div class="form-group">
      <label for="type">Type</label>
      {{input value=type id="type"}}
    </div>

    <div class="form-group">
      <label for="image">Image URL</label>
      {{input value=image id="image"}}
    </div>

    <div class="form-group">
      <label for="bedrooms">Number of Bedrooms</label>
      {{input value=bedrooms id="bedrooms"}}
    </div>

    <div class="form-group">
      <label for="bathrooms">Number of Bathrooms</label>
      {{input value=bathrooms id="bathrooms"}}
    </div>

    <div class="form-group">
      <label for="year">The Year Built</label>
      {{input value=year id="year"}}
    </div>



    <button {{action 'saveRental1'}}>Save</button>
  </form>
</div>
{{else}}
  <button {{action 'rentalFormShow'}}>New Rental</button>
{{/if}}
